<app-navbar></app-navbar>
<div class="main">
  <div class="title" data-aos="fade-right" data-aos-duration="2000">
    <h1>VISIT <img src="https://img.freepik.com/foto-gratis/vista-lateral-carne-frita-papas-fritas-salsa-tomate_141793-4908.jpg?w=740&t=st=1672611476~exp=1672612076~hmac=3ddde18bdbf316b49bc2284b6602bfa8aecc487012c0cb8afa83bced6a7a9873" alt="people" width="100px" height="100px">  OUR
      <br>
      GASTROPUB.
      <br>
    FOOD <img src="https://img.freepik.com/foto-gratis/cordero-frito-papas-champinones-servido-salsa-tomate-granada-eneldo_140725-471.jpg?w=740&t=st=1672611632~exp=1672612232~hmac=3ee639d873294335f20a4dc9652628c508c44ee9f0a4ca7d7fa2f3b9c60aac2e" alt="people" width="100px" height="100px">
    AND DRINKS</h1>
    <h2>Where every bite is a taste of heaven</h2>
  </div>
  <div class="slogan">
    <p>Enjoy good food and fresh drinks with your family or friends</p>
    <a href="">Let's see the menu</a>
  </div>
  <br><br>
  <div class="info">
    <div class="left" data-aos="fade-right" data-aos-duration="2000">
      <img src="https://img.freepik.com/foto-gratis/vista-lateral-filete-res-parrilla-salsa-sobre-tabla-madera_140725-10264.jpg?w=360&t=st=1672612454~exp=1672613054~hmac=a9df4bc7086f8d759525f35c6941f9241245cd8ca39388dd13164f07b8025094" alt="">
    </div>
    <div class="right" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="600">
      <span class="text">Come check out our gastropub. Find more info about our dinner, pub and club bellow</span>
      <div class="span-container">
        <span class="text-stroke">DINNER</span>
        <br>
        <span class="text-stroke">PUB</span>
        <br>
        <span class="text-stroke">CLUB</span>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="left" data-aos="fade-right" data-aos-duration="2000">
      <img src="https://img.freepik.com/foto-gratis/arreglo-sabrosa-cerveza-americana_23-2148907580.jpg?w=360&t=st=1672616449~exp=1672617049~hmac=72013f6c869df059c7a277a73b353a324cdf37397027f29041acdfb3845d22b6" alt="beer-img">
    </div>
    <div class="right" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="600">
      <h2>ENJOY SOME FUN UNIQUE EXPERIENCES AT OUR PUB</h2>
      <div class="taptables">
        <img src="https://img.freepik.com/foto-gratis/primer-plano-amigos-que-tintinea-botellas-marrones_23-2147919133.jpg?w=360&t=st=1672616562~exp=1672617162~hmac=5f1d7f7d48d1cd45202eeb9b567b8646fde8192917138af28a82c79c82194d09" alt="people-beer" width="200px" height="200px">
        <h2>TAPTABLES</h2>
        <span>Be the bartender with a taptable</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repellendus est veniam, recusandae enim officiis, aliquid, totam voluptas repudiandae fuga minima autem voluptatibus perspiciatis ab laboriosam facilis delectus iste quibusdam.</p>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="right" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="600">
      <h2 class="section-title">FROM BURGERS <br>TO STEAK <br> TO PIZZA. <br> CHECK OUT OUR MENU</h2>
      <a href="">Let's see the menu</a>
    </div>
    <div class="left" data-aos="fade-right" data-aos-duration="2000">
      <img src="https://img.freepik.com/foto-gratis/enorme-hamburguesa-carne-frita-verduras_140725-971.jpg?w=740&t=st=1672616977~exp=1672617577~hmac=054909688e99768bc68d16f9157dbe1a15319d67ed5a2e8df45312ed3ac8b42f" alt="beer-img" width="360px" height="520px">
    </div>
  </div>
</div>

