@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::ng-deep html{
  background-color: #080606;
  font-family: 'Poppins', sans-serif;
}

::ng-deep .className{
  width: 80px;
}

::ng-deep .navbar{
  background-color: inherit;
  margin-bottom: 20px;
}

:ng-deep .p-menuitem-text {
  font-size: 100px;
}

::ng-deep .p-card-shadow{
  background-color: #080606;
  border: 1px solid grey;
  border-radius: 8px;
}

.main{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.title{
  /* margin-left: 50px; */
  min-width: 500px;
}

.title h1{
  font-size: 90px;
}

.slogan{
  margin-right: 500px;
}

.info{
  display: flex;
  flex-direction: row;
  /* margin-top: 50px; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.right{
  max-width: 500px;
}

.left{
  margin-right: 100px;
}

img{
  border-radius: 8px;
  margin-left: 50px;
}

.taptables{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.text{
  font-size: 15px;
}

.span-container{
  margin-top: 20px;
  font-size: 45px;
}

.text-stroke{
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.section-title{
  font-size: 35px;
  margin-right: 40px;
}


@media (width < 500px) {
  .title h1{
    font-size: 50px;
  }

  .title{
    margin: auto;
  }

  .slogan{
    margin: 0;
  }

  .right{
    margin: 50px;
  }

  .info{
    margin-left: auto;
  }
}
