<app-navbar></app-navbar>
<h1 data-aos="fade-right" data-aos-delay="800">Foods</h1>
<div class="main">
  <div class="card-container">
    <app-data-view (newItemEvent)="setTotal($event)"></app-data-view>
  </div>
  <div class="order-resume" data-aos="fade-left" data-aos-delay="1200">
    <h2>Your order:</h2>
    <div class="product-card" *ngFor="let item of orderProducts">
      <div class="product" *ngIf="item.name != 'Null'">
        <img src={{item.urlImg}} alt="">
        <h3>{{item.name}}</h3>
      </div>
      <div class="details" *ngIf="item.name != 'Null'">
        <span class="price">Price: ${{item.price}}</span>
        <p>Units: {{item.quantity}}</p>
      </div>
    </div>
    <div class="footer">
      <h3>Total: ${{total}}</h3>
      <button pButton pRipple type="button" label="Submit" class="p-button-raised p-button-success" (click)="sendOrder()"></button>
      <button pButton pRipple type="button" label="Cancel" class="p-button-raised p-button-danger" (click)="cancelOrder()"></button>
    </div>
  </div>
</div>



