<p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '300px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://img.freepik.com/foto-gratis/vista-superior-comida-mexicana-fresca-limon_23-2148614359.jpg?w=740&t=st=1672697777~exp=1672698377~hmac=56dd667919c38c619514075076ad9019780e55458e4a55621360aecca4f816ea" height="100px" width="100px">
  </ng-template>
  <ng-template pTemplate="footer">
      <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
  </ng-template>
</p-card>
