.main{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  min-width: 90%;
}

.card-container{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.order-resume{
  background-color: inherit;
  width: 500px;
  height: max-content;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.product-card{
  width: 80%;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: inherit;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.product img{
  width: 100px;
  border-radius: 8px;
}

.p-button-raised{
  background-color: inherit;
  color: white;
  display: inline;
  margin-left: 10px;
}

.p-button-raised:hover{
  color: white;
  font-weight: bolder;
}

.footer{
  margin-bottom: 10px;
  gap: 20px;
}


@media screen and (max-width: 1100px) {

  .main{
    flex-wrap: wrap-reverse;
  }
  .order-resume{
    margin-left: 0;
    /* position: absolute; */
    min-width: 800px;
  }

}
