:host ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background-color: inherit;
}

:host ::ng-deep .p-accordion-content{
  background-color: inherit;
}

:host ::ng-deep .p-accordion-header .p-accordion-header-link{
  background-color: inherit;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    ".";
}

.card-body{
  display: flex;
  gap: 50px;
}

.card-body-info{
  display: flex;
  flex-direction: column;
}

.card-body p{
  max-width: 75ch;
  color: lightgrey;
}

.price{
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.price span{
  font-size: 30px;
}

:host ::ng-deep .p-card{
  background-color: inherit;
}
