<div class="card container-fluid">
  <p-dataView
    #dv
    [value]="products"
    [paginator]="true"
    [rows]="9"
    filterBy="name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    layout="list"
    styleClass="container"
  >
    <ng-template pTemplate="header">
      <div
        class="flex flex-column md:flex-row md:justify-content-between"
        class="header"
      >
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input
            type="search"
            pInputText
            placeholder="Search by Name"
            (input)="dv.filter($any($event.target).value)"
          />
        </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="list-item">
        <div class="product-list-item">
          <img
            [src]="product.urlImg"
            [alt]="product.name + ' image'"
            height="100px"
            width="100px"
          />
          <div class="product-list-detail">
            <div class="product-name">{{ product.name }}</div>
            <i class="pi pi-tag product-category-icon"></i
            ><span class="product-category">{{ product.category }}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{ product.price }}</span>
            <p-inputNumber
              [showButtons]="true"
              buttonLayout="vertical"
              inputId="vertical"
              spinnerMode="vertical"
              [step]="1"
              decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              inputStyleClass="inputNumber"
              [style]="{ 'width': '50px', 'gap': '0' }"
              #inputNumber
            >
            </p-inputNumber>
            <button
                pButton
                pRipple
                type="button"
                label="Submit"
                class="p-button-outlined p-button-success btn"
                [disabled]="inputNumber.value == null"
                (click)="addItem(product, inputNumber.value)"
              ></button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{ product.category }}</span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <img
              [src]="product.urlImg"
              [alt]="product.name + ' image'"
              height="100px"
              width="100px"
            />
            <div class="product-name">{{ product.name }}</div>
            <div class="product-description">{{ product.name }}</div>
          </div>
          <div class="product-grid-item-bottom">
            <div class="field col-12 md:col-3">
              <label for="horizontal">Quantity: </label>
              <br />
              <p-inputNumber
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="horizontal"
                spinnerMode="horizontal"
                [step]="1"
                decrementButtonClass="p-button-danger"
                incrementButtonClass="p-button-success"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
                inputStyleClass="inputNumber"
                #inputNumber
              >
              </p-inputNumber>
              <button
                data-aos="fade-right"
                data-aos-duration="2000"
                pButton
                pRipple
                type="button"
                label="Submit"
                class="p-button-outlined p-button-success btn"
                *ngIf="inputNumber.value != null"
                (click)="addItem(product, inputNumber.value)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
